/*Css para main.php*/
.g-font-size-18
{
  font-size: 18px;
}
.g-font-size-19
{
	font-size: 19px;
}
.g-font-size-25
{
  font-size: 25px;
}
.g-font-size-35
{
  font-size: 35px;
}
.g-font-size-100
{
  font-size: 100px;
}

.g-font-weight-700
{
  font-weight: 700;
}

/*------------------------------------
  Color
------------------------------------*/
.g-color-dark
{
  color: #343a40;
}
.g-color-white
{
  color: #fff;
}
.g-bg-add
{
  background-color: rgba(170,205,165, 1)!important;
}
.g-bg-delete
{
  background-color: rgba(255,177,177, 1)!important;
}
.g-bg-scare
{
  background-color: rgba(194,21,22,1)!important;
}

/*------------------------------------
  Animación Loader
------------------------------------*/
/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #28a745;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#body-content {
  display: none;
}

/*------------------------------------
  Animación Loader
------------------------------------*/
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -17%;
    right: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

/*------------------------------------
  Modal Mosnter Inc (Pa' que grites)
------------------------------------*/
.modales
{
  visibility: visible;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.4);
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -150;
}
.appear
{
  opacity: 1;
  z-index: 9999!important;
}
.g-max-width-80vh
{
  min-height: 80vh!important;
  max-height: 80vh!important;
  height: 80vh!important;
}

/*------------------------------------
  Cursor
------------------------------------*/
.g-cursor-disabled
{
  cursor: not-allowed;
}